/** Cart style ---------------------------------
---------------------------------**/
.cart{
    display: none;
}
.cart h1{
    color: #dbc7c7;
    font-size: x-large;
}
.cart img{
    width: 50px;
    height: 70px;
}
.cart p{
    margin: 5px;
}
.top-cart{
    display: contents;
}
#top-cart{
    display: none;
}
#top-cart:checked ~ .cart{
    display:block;
    background-color: #152d35;
    color: #152d35;
    padding: 5px;
    position: absolute;
    text-align: center;
    right: 70px;
    top: 35px;
}
.cart-box{
    display: flex;
    text-align: left;
    background-color: #fff;
}
.goto-checkout{
    display: inline-block;
    background-color: #dbc7c7;
    box-shadow: 3px 3px 3px #efa8c1;
    border-radius: 10px;
    width: 115px;
    margin-top: 10px;
    height: 30px;
}
.goto-checkout p{
    font-family: "Segoe UI Bold";
    color: #152d35;
}