/** Footer information -------------------------------------------
-------------------------**/
.info{
    display: flex;
    justify-content: space-around;
    background-color: #152d35;
    margin-top: 50px;
    text-align: left;
}
.info-header h2, .info-header li{
    margin-bottom: 5px;
    text-align: left;
}
.info-header a{
    color: #dbc7c7;
}

/** Footer Social Media ---------------------------------------------
--------------------------------**/
.social-media, .payment-partners{
    text-align: center;
    margin-top: 40px;
}
footer img{
    width: 50px;
    margin-inline: 20px;
}

/** Footer Copyright ------------------------------------------------
-------------------------------**/
footer p{
    background-color: #f4ebeb;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 10px;
}