/* .jacketspecific{
    display: none;
}

header #all:hover +.jacketspecific,
header #man:hover ~.jacketspecific,
header #woman:hover ~.jacketspecific,
header #sale:hover ~.jacketspecific,
header #new:hover ~.jacketspecific{
    display: block;
    left: 220px;
    position: absolute;
    top: 80px;
    background-color: #f4ebeb;
    padding: 5px;
}

header #man:hover ~.jacketspecific{
    left: 280px;
}
header #woman:hover ~.jacketspecific{
    left: 360px;
}
header #sale:hover ~.jacketspecific{
    left: 490px;
}
header #new:hover ~.jacketspecific{
    left: 570px;
} */

.menu {
    /* background-color: #04AA6D; */
    /* color: black; */
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .jacketfilter {
    position: relative;
    display: inline-block;
  }
  
  .jacketspecific {
    display: none;
    position: absolute;
    background-color: #f4ebeb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .jacketspecific a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .jacketspecific a:hover {background-color: black;}
  
  .jacketfilter:hover .jacketspecific {display: block;}
  
  /* .jacketfilter:hover .menu {background-color: #3e8e41;} */
